@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap");
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Montserrat", sans-serif;
 text-decoration: none;
 color: #fff;
}
/* header */
.logo {
 color: #fff;
 display: flex;
 align-items: center;
 margin-left: 8px;
}
.logo h4 {
 font-weight: 200;
}
.logo h4 span {
 font-weight: 600;
}
header {
 height: 12vh;
 /* background-color: burlywood; */
 background-color: #f6f6fd2a;
 box-shadow: #888 2px 2px 8px -8px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
}
.navigation {
 display: flex;
 gap: 20px;
 justify-content: space-between;
}
nav a {
 color: #fff;
 font-size: 0.9rem;
}
.login-button {
 margin-right: 8px;
}
.login-button button {
 margin: 0 5px;
 padding: 8px 10px;
 border-radius: 40px;
 background-color: none;
 border: none;
 background: linear-gradient(180deg, #ff8c69, #ff784f);
 color: #fff;
}
.fas {
 margin-left: 4px;
}
.sign-up {
 background-color: none;
}
/* body */
main {
 background-image: url(./images/dots.png);
 background-size: contain;
 text-align: center;
 height: 100vh;
 width: 100vw;
}
.textarea h1 {
 font-size: 2rem;
}
.middlesection {
 margin-top: 18vh;
}
body {
 background: linear-gradient(180deg, #0b0b3a, #18187a);
 background-repeat: no-repeat;
 background-size: cover;
 overflow: hidden;
}
